<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAR MANAGEMENT</title>
    <link rel="shortcut icon" href="images/favicon2.ico" type="image/x-icon">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
        /* Style to remove border from iframe */
        iframe {
            border: none;
        }
    </style>
</head>

<body>
    <script src="js/header.js" defer></script>
  <div id="header-placeholder"></div>
    <main>
        <!-- PORTFOLIO -->
        <section id="account">
            <div class="account container-fluid">
                <div class="property_car container-fluid">
                    <h1>Admin's revenue</h1>
                    <div class="row">
                        <div class="col-lg-2">
                            NAME:
                        </div>
                        <div class="col-lg-1">
                            <%=Name%>
                        </div>
                        <br>

                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            Income (vnđ):
                        </div>
                        <div class="col-lg-3">
                            <%=Income%>
                        </div>
                        <br>
                    </div>
                    <iframe src="chart.html" width="100%" height="700px"
                        style="overflow: hidden; border: none;"></iframe>

                </div>
            </div>
        </section>



    </main>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer>
        <div class="container-fluid">
            <span>BTL_LTNC 5 anh em siêu nhân | CAR MANAGEMENT </span>
        </div>

    </footer>

    <script src="assets/jquery.min.js"></script>
    <script src="assets/popper.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>