<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BakOneTemplate</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="#">
                <img src="images/logo.png" alt="">
            </a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="driver.html">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pre_signin.html">LOGIN</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">VEHICLE</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="car_driver.html">CAR</a>
                            <a class="dropdown-item" href="truck_driver.html">TRUCK</a>
                            <a class="dropdown-item" href="coach_driver.html">COACH</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">MENU</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#tab2Id">Customer</a>
                            <a class="dropdown-item" href="#tab2Id">Driver</a>
                            <a class="dropdown-item" href="account_driver.html">Account</a>
                            <a class="dropdown-item" href="#tab3Id">Setting</a>
                        </div>
                    </li>
                </ul>

            </div>
        </nav>
    </header>
    <main>
        <!-- PORTFOLIO -->
        <section id="account">
            <div class="account container-fluid">
                <div class="property_car container-fluid">
                    <h1>PERSONAL INFORMATION</h1>
                    <div class="row">
                        <div class="col-lg-6">
                            NAME:
                        </div>
                        <div class="col-lg-1">
                            <%=Name%>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                            PHONE NUMBER:
                        </div>
                        <div class="col-lg-1">
                            <%=Phone%>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                            ADDRESS:
                        </div>
                        <div class="col-lg-1">
                            <%Address%>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                            ACCOUNT:
                        </div>
                        <div class="col-lg-1">
                            <%=Account%>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </main>
    <footer>
        <div class="container-fluid">
            <span>© Copyright 2013 Bak-One | One Page Flat Template</span>
        </div>

    </footer>

    <script src="assets/jquery.min.js"></script>
    <script src="assets/popper.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>