<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BakOneTemplate</title>
    <link rel="shortcut icon" href="images/favicon2.ico" type="image/x-icon">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- <script src="js/script_create.js"></script> -->
    <script> 
        // Define the editCar function
        const urlParams = new URLSearchParams(window.location.search);
        const productId = urlParams.get('productId');
        async function fetchCar() {
    const response = await fetch("/car");
    if (!response.ok) {
      throw new Error(`HTTP error! status: ${response.status}`);
    }
    const drivers = await response.json();
    return drivers;
  }

        async function fetchCarID() {
        const response = await fetch('/car/'+productId);
        if (!response.ok) {
        throw new Error(`HTTP error! status: ${response.status}`);
        }
        const driver = await response.json();
        const vehicleInfo = {
                Brand: driver.Brand,
                _id: driver._id,
                Capacity: driver.Capacity,
                Size: driver.Size,
                TypeOfFuel: driver.TypeOfFuel,
                VehicleStatus: driver.VehicleStatus,
                Warranty: driver.Warranty,
                Journey: driver.Journey,
                License: driver.License,
            };
         //   editID=vehicleInfo._id;
    // <h3>Mercedes - Ready for a new journey</h3>
    //                     <p>
    //                         Do what you want in your own way. The Suzuki XL7, with its robust SUV design and outstanding
    //                         safety features, offers comfort and convenience in all seats.
    //                     </p>
    var h3= document.createElement("h3");
    h3.innerHTML= vehicleInfo.Brand + "- Ready for a new journey";
    var p= document.createElement("p");
    p.innerHTML= "Do what you want in your own way. The "+ vehicleInfo.Brand +
    " , with its robust SUV design and outstanding safety features, offers comfort and convenience in all seats.";

    var img=document.createElement("img");
    if (vehicleInfo.Brand === 'SUZUKI XL7') {
        img.setAttribute("src", "floai_ltnc/Screenshot 2024-03-31 215845.png");
        img.setAttribute("alt", "Jump to portfolio");
        // Thực hiện các thao tác tương ứng với thương hiệu SUZUKI XL7
    } else if (vehicleInfo.Brand === 'SUZUKI SWIFT') {
        img.setAttribute("src", "floai_ltnc/Screenshot 2024-03-31 220006.png");
        img.setAttribute("alt", "Jump to portfolio");
    } else if (vehicleInfo.Brand === 'SUZUKI CIAZ') {
        img.setAttribute("src", "floai_ltnc/Screenshot 2024-03-31 220034.png");
        img.setAttribute("alt", "Jump to portfolio");
    } else if (vehicleInfo.Brand === 'MERCEDES') {
        img.setAttribute("src", "floai_ltnc/car white background 1.png");
        img.setAttribute("alt", "Jump to portfolio");
    } else if (vehicleInfo.Brand === 'FERRARI') {
        img.setAttribute("src", "floai_ltnc/kisspng-ferrari-458-car-ferrari-f12-2017-ferrari-488-gtb-5af68701a38a217967992315261058576699.png");
        img.setAttribute("alt", "Jump to portfolio");
    } else {
        console.log('Unknown brand.');
        // Thực hiện các thao tác cho trường hợp thương hiệu không xác định
    }
    document.getElementById("Carimg").appendChild(img);
    


    document.getElementById("Car1Info").appendChild(h3);
    document.getElementById("Car1Info").appendChild(p);
    document.getElementById("Brand_edit").value= vehicleInfo.Brand,
    document.querySelector("#Capacity_edit").value = vehicleInfo.Capacity,
    document.querySelector("#Size_edit").value = vehicleInfo.Size,
    document.querySelector("#Fuel_edit").value = vehicleInfo.TypeOfFuel;
    document.getElementById("Warranty_edit").innerHTML = '';
    document.getElementById("Status_edit").innerHTML = '';
    
    var p1 = document.createElement("p");
    p1.innerHTML = vehicleInfo.Warranty;
    document.getElementById("Warranty_edit").appendChild(p1);
    
    var p2 = document.createElement("p");
    p2.innerHTML = vehicleInfo.VehicleStatus;
    document.getElementById("Status_edit").appendChild(p2);
    

    document.querySelector("#License_edit").value = vehicleInfo.License;
        return driver;
    }
async function submitedit(event){
    event.preventDefault();
    var nameInput=document.getElementById("Brand_edit").value;
    var vehircleF = document.getElementById("Fuel_edit").value;
    var ELicense = document.getElementById("License_edit").value;
    var ECapacity= document.getElementById("Capacity_edit").value;
    var ESize= document.getElementById("Size_edit").value;

    vehicleInfo = {
        Brand: nameInput,
        Capacity: ECapacity,
        Size: ESize,
        TypeOfFuel: vehircleF,
        License: ELicense,
    };
    try {
        const drivers = await fetchCar();
        console.log(drivers);
        
        
          drivers[productId] = vehicleInfo;
          isEdit = false;
  
          // Gửi yêu cầu PUT để chỉnh sửa tài xế
          const putResponse = await fetch('admin/update/car/'+productId, {
              method: 'PUT',
              headers: {
                  "Content-Type": "application/json"
              },
              body: JSON.stringify(vehicleInfo)
          });
  
          const putContentType = putResponse.headers.get('Content-Type');
          if (!putResponse.ok) {
              const errorMessage = await putResponse.text();
              console.error('Problem with the PUT request: ' + errorMessage);
              return;
          }
          
  
          const data = await putResponse.json();
          console.log(data);
  
        
       
    } catch (e) {
        console.error('There was a problem with the POST request: ' + e.message);
    };
     
      window.location.reload();

}
        // Function to call editCar automatically when the page loads
        window.onload = function() {
            
            fetchCarID();
        };
    </script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="#">
                <img src="images/logoxe.png" alt="">
            </a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="admin.html">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="\signin_driver">SIGNIN AS DRIVER</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">VEHICLE</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="\car_admin">CAR</a>
                            <a class="dropdown-item" href="\truck_admin">TRUCK</a>
                            <a class="dropdown-item" href="\coach_admin">COACH</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">MENU</a>
                        <div class="dropdown-menu">

                            <a class="dropdown-item" href="\driver_admin">Driver</a>

                            <a class="dropdown-item" href="\adminjourney">Journey</a>
                            <a class="dropdown-item" href="\account">Account</a>

                        </div>
                    </li>
                </ul>

            </div>
        </nav>
    </header>
    <main>
        <!-- PORTFOLIO -->
        <section id="car">
            <div class="car container-fluid">
                <div class="row">
                    <!-- Left column -->
                    <div class="col-lg-6" id="Carimg">

                    </div>

                    <!-- Right column -->
                    <div class="col-lg-6">
                        <div id="Car1Info">
                        
                        </div>

                    </div>
                </div>
                <div class="property_car container-fluid">
                    <div class="row">
                        <div class="col-lg-6" >
                            Brand:
                        </div>
                        <div class="col-lg-2">
                            <input type="text" id="Brand_edit" name="capacity" required placeholder="320 kg" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6" >
                            Capacity:
                        </div>
                        <div class="col-lg-2">
                            <input type="text" id="Capacity_edit" name="capacity" required placeholder="320 kg" class="form-control">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                            Size:
                        </div>
                        <div class="col-lg-3">

                            <input type="text" id="Size_edit" name="size" required placeholder=" 190x75x60 inches"
                                class="form-control">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                            Type Of Fuel:
                        </div>
                        <div class="col-lg-2">
                            <input type="text" id="Fuel_edit" name="type_of_fuel" required placeholder=" Diesel" class="form-control">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                            Warranty Time:
                        </div>
                        <div class="col-lg-2" id="Warranty_edit">
                            
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                            Status:
                        </div>
                        <div class="col-lg-2" id="Status_edit">
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            Liscense:
                        </div>
                        <div class="col-lg-2" >
                            <input class="form-control" type="text" id="License_edit" name="Num"
                                    placeholder="License Number"></label>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-7 text-right">
                            <button onclick="submitedit(event)" type="SAVE">SAVE</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- CONTACT -->
        <section id="contact">
            <div class="contact container-fluid">
                <h2>Contact Us</h2>
                <div class="row">
                    <!-- Left column -->
                    <div class="col-lg-6">
                        <form action="#" method="POST">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" name="name" required placeholder="Your name"
                                        class="form-control">
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" name="email" required placeholder="Your email"
                                        class="form-control">
                                </div>
                                <div class="col-lg-12">
                                    <textarea name="message" cols="30" rows="10" required placeholder="Your message"
                                        class="form-control"></textarea>
                                </div>
                                <div class="col-lg-12 text-right">
                                    <button type="submit">SUBMIT</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Right column -->
                    <div class="col-lg-6">
                        <h3>INFORMATION</h3>
                        <address>
                            <i class="fa-solid fa-location-dot"></i>
                            <span>
                                BKHCM University <br>
                                268 Ly Thuong Kiet <br>
                                District 11, TPHCM
                            </span>

                        </address>

                        <p>
                            <i class="fa-solid fa-envelope"></i>
                            info@5anhem.com
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container-fluid">
            <span>BTL_LTNC 5 anh em siêu nhân | CAR MANAGEMENT </span>
        </div>
        <a href="#" class="back-to-top">
            <i class="fa-solid fa-angle-up"></i>
        </a>

    </footer>

    <script src="assets/jquery.min.js"></script>
    <script src="assets/popper.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>