<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BakOneTemplate</title>
    <link rel="shortcut icon" href="images/favicon2.ico" type="image/x-icon">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="#">
                <img src="images/logoxe.png" alt="">
            </a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="driver.html">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pre_signin.html">SIGN IN</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">VEHICLE</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="car_driver.html">CAR</a>
                            <a class="dropdown-item" href="truck_driver.html">TRUCK</a>
                            <a class="dropdown-item" href="coach_driver.html">COACH</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">MENU</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#tab2Id">Customer</a>
                            <a class="dropdown-item" href="#tab2Id">Driver</a>
                            <a class="dropdown-item" href="\driverjourney">Journey</a>
                            <a class="dropdown-item" href="\account_driver">Account</a>
                            <a class="dropdown-item" href="#tab3Id">Setting</a>
                        </div>
                    </li>
                </ul>

            </div>
        </nav>
    </header>
    <main>
        <!-- PORTFOLIO -->
        <section id="car">
            <div class="car container-fluid">
                <div class="row">
                    <!-- Left column -->
                    <div class="col-lg-6">
                        <img src="floai_ltnc/car white background 1.png" alt="Jump to portfolio">
                    </div>

                    <!-- Right column -->
                    <div class="col-lg-6">
                        <h3>Mercedes - Ready for a new journey</h3>
                        <p>
                            Do what you want in your own way. The Suzuki XL7, with its robust SUV design and outstanding
                            safety features, offers comfort and convenience in all seats.
                        </p>

                    </div>
                </div>
                <div class="property_car container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            Capacity:
                        </div>
                        <div class="col-lg-1">
                            320kg
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                            Size:
                        </div>
                        <div class="col-lg-2">
                            190x75x60 inches
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                            Type Of Fuel:
                        </div>
                        <div class="col-lg-1">
                            Diesel
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                            Warranty Time:
                        </div>
                        <div class="col-lg-1">
                            04/05/2024
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                            Status:
                        </div>
                        <div class="col-lg-1">
                            Warranty
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- CONTACT -->
        <section id="contact">
            <div class="contact container-fluid">
                <h2>Contact Us</h2>
                <div class="row">
                    <!-- Left column -->
                    <div class="col-lg-6">
                        <form action="#" method="POST">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" name="name" required placeholder="Your name"
                                        class="form-control">
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" name="email" required placeholder="Your email"
                                        class="form-control">
                                </div>
                                <div class="col-lg-12">
                                    <textarea name="message" cols="30" rows="10" required placeholder="Your message"
                                        class="form-control"></textarea>
                                </div>
                                <div class="col-lg-12 text-right">
                                    <button type="submit">SUBMIT</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Right column -->
                    <div class="col-lg-6">
                        <h3>INFORMATION</h3>
                        <address>
                            <i class="fa-solid fa-location-dot"></i>
                            <span>
                                BKHCM University <br>
                                268 Ly Thuong Kiet <br>
                                District 11, TPHCM
                            </span>

                        </address>

                        <p>
                            <i class="fa-solid fa-envelope"></i>
                            info@5anhem.com
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container-fluid">
            <span>BTL_LTNC 5 anh em siêu nhân | CAR MANAGEMENT </span>
        </div>
        <a href="#" class="back-to-top">
            <i class="fa-solid fa-angle-up"></i>
        </a>

    </footer>

    <script src="assets/jquery.min.js"></script>
    <script src="assets/popper.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>