<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAR MANAGEMENT</title>
    <link rel="shortcut icon" href="images/favicon2.ico" type="image/x-icon">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style1.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="js/script_create1.js"></script>
</head>

<body>
    <script src="js/header.js" defer></script>
  <div id="header-placeholder"></div>
    <main>
        <!-- HOME -->
        <!-- PORTFOLIO -->
        <section id="portfolio">
            <div class="portfolio container-fluid text-center">
                <h2>Coach Collection</h2>

                <div class="row" , id="ROW">
                    <!-- <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="box">
                            <a href="#">
                                <img src="floai_ltnc/c1.png" alt="Portfolio 1">
                            </a>


                            <div class="content">

                                <a href="coach1_admin.html">
                                    <span> HYUNDAI SOLATI </span>
                                </a href="#">

                            </div>

                        </div>

                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="box">
                            <a href="#">
                                <img src="floai_ltnc/c4.png" alt="Portfolio 2">
                            </a>


                            <div class="content">
                                <a href="coach1_admin.html">
                                    <span> FORD TRANSIT </span>
                                </a href="#">

                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="box">
                            <a href="#">
                                <img src="floai_ltnc/c6.jpg" alt="Portfolio 3">
                            </a>


                            <div class="content">
                                <a href="coach1_admin.html">
                                    <span> HYUNDAI COUNTY </span>
                                </a href="#">

                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                        <div class="box">
                            <a href="#">
                                <img src="floai_ltnc/c7.jpg" alt="Portfolio 3">
                            </a>


                            <div class="content">
                                <a href="coach1_admin.html">
                                    <span> SAMCO </span>
                                </a href="#">

                            </div>

                        </div> -->
                </div>
            </div>
            </div>
            <button onclick="showForm()" id="modalForm">+</button>
            <div class="overlay" id="overlay"></div>
            <div id="AddCoachForm" class="portfolio container-fluid text-center">


                <div id="formContainer" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close" onclick="hideForm(event)">&times;</span>
                        <form class="m-auto text-left" style="max-width: 500px" method="post" novalidate="" id="myForm">
                            <!-- Các trường form ở đây -->
                            <h2>Car Information</h2>

                            <div class="form-group">
                                <label class="w-100"> Brand:<br>
                                    <!-- coach : HYUNDAI SOLATI; FORD TRANSIT; HYUNDAI COUNTY; SAMCO -->

                                    <input type="radio" id="brandoption1" name="brandoption" value="HYUNDAI SOLATI">
                                    <label for="brandoption1">HYUNDAI SOLATI</label><br>

                                    <input type="radio" id="brandoption2" name="brandoption" value="FORD TRANSIT">
                                    <label for="brandoption2">FORD TRANSIT</label><br>

                                    <input type="radio" id="brandoption3" name="brandoption" value="HYUNDAI COUNTY">
                                    <label for="brandoption3">HYUNDAI COUNTY</label><br>

                                    <input type="radio" id="brandoption4" name="brandoption" value="SAMCO">
                                    <label for="brandoption4">SAMCO</label><br>

                                </label>
                            </div>

                            <div class="form-group">
                                <label class="w-100">Type of Fuel:
                                    <input class="form-control" type="text" id="FuelType" name="FuelType"
                                        placeholder="Petrol" value="Petrol"></label>
                            </div>
                            <div class="form-group">
                                <label class="w-100">Capacity:
                                    <input class="form-control" type="number" placeholder="4" id="Capacity"
                                        name="Capacity"></label>
                            </div>
                            <div class="form-group">
                                <label class="w-100">Size:
                                    <input class="form-control" type="number" placeholder="7" id="Size"
                                        name="Size"></label>
                            </div>

                            <div class="form-group">
                                <label class="w-100">License:
                                    <input class="form-control" type="text" id="Num" name="Num"
                                        placeholder="License Number"></label>
                            </div>

                            <!-- <div class="form-group">
                            <label class="w-100"> Vehicle Status:<br>
                                <input type="radio" id="option1" name="option" value="Active">
                                <label for="option1">Active</label>
                                
                                <input type="radio" id="option2" name="option" value="UnderMaintainance">
                                <label for="option2">Under Maintainance</label>
                                
                                <input type="radio" id="option3" name="option" value="NotActive">
                                <label for="option3">Not  Active</label>
                            </label>
                        </div> -->

                            <!-- <div class="form-group">
                            <label class="w-100">Warranty Time:
                                <input class="form-control" type="text" id="Service" name="Service"
                                    placeholder="Warranty Time"></label>
                        </div> -->

                            <br>
                            <button onclick="CarAdd(event)" type="submit" id="submitcar">Submit</button>

                        </form>
                    </div>

                </div>
            </div>
        </section>


        <!-- CONTACT -->
        <section id="contact">
            <div class="contact container-fluid">
                <h2>Contact Us</h2>
                <div class="row">
                    <!-- Left column -->
                    <div class="col-lg-6">
                        <form action="/admin">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" name="name" required placeholder="Your name"
                                        class="form-control">
                                </div>
                                <div class="col-lg-6">
                                    <input type="email" name="email" required placeholder="Your email"
                                        class="form-control">
                                </div>
                                <div class="col-lg-12">
                                    <textarea name="message" cols="30" rows="10" required placeholder="Your message"
                                        class="form-control"></textarea>
                                </div>
                                <div class="col-lg-12 text-right">
                                    <button type="submit">SUBMIT</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Right column -->
                    <div class="col-lg-6">
                        <h3>INFORMATION</h3>
                        <address>
                            <i class="fa-solid fa-location-dot"></i>
                            <span>
                                BKHCM University <br>
                                268 Ly Thuong Kiet <br>
                                District 11, TPHCM
                            </span>

                        </address>

                        <p>
                            <i class="fa-solid fa-envelope"></i>
                            info@5anhem.com
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container-fluid">
            <span>BTL_LTNC 5 anh em siêu nhân | CAR MANAGEMENT </span>
        </div>

    </footer>

    <script src="assets/jquery.min.js"></script>
    <script src="assets/popper.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>