<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <title>ArcGIS Maps SDK for JavaScript Tutorials: Find places</title>
    <style>
      html,
      body,
      #viewDiv {
        padding: 0;
        margin: 0;
        height: 90%;
        width: 90%;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://js.arcgis.com/4.29/esri/themes/light/main.css"
    />
    <script src="https://js.arcgis.com/4.29/"></script>
    <script src="js/map.js">
    </script>
  </head>
  <body>
    <div id="viewDiv"></div>
    <div>
      Showing:
      <div id="showSearchStart">Start Point</div>
      <div id="showSearchEnd">Start End</div>
      <div id="showTravelTime">Travel Time</div>
      <div id="showTravelLength">Path Length</div>
      <button onclick="clearAll()">Clear</button>
      <button onclick="send()">Send</button>
      <input type="radio" id="type1" name="type" value="car" />
      <label for="type1">Car</label><br />

      <input type="radio" id="type2" name="type" value="truck" />
      <label for="type2">Truck</label><br />

      <input type="radio" id="type3" name="type" value="coach" />
      <label for="type3">Coach</label>
    </div>
  </body>
</html>
