/*add button*/
#portfolio{
    position: relative;
}
#portfolio #modalForm{
    position: absolute;
    right: 5px;
   bottom: 5px;
   width: 40px;
   height: 40px;
   font-weight:bolder;
   font-size:xx-large;
   flex-direction: column;
}
#submit{
    position: absolute;
    right:50%;
   bottom: 20px;
   font-size: large;

}
.overlaya{
    font-style: bold;
    margin-bottom: 34px;
    display: inline-block;
    font-size: 20px;
    margin-left: 7px;
    color: var(--primary-color);
}

/*addd Trip*/

.addTrip ul li{
    list-style:none;
    font-size: 17px;
    text-align: left;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    border: 1px solid #9ec5a0;
}
.addTrip ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    padding: 10px;
    background-image: url('../images/radio.png');
    background-position: center;
    background-size: cover;
    top: 12px;
    left: 8px;

    
}
.addTrip ul li.checked{
    color: rgb(11, 70, 28);
    
}
.addTrip ul li.checked::before{
    background-image: url('../images/accept.png');
}
.addTrip ul li span{
    position:absolute;
    right:0 ;
    top: 5px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: #9ec5a0;
    line-height: 40px;
    text-align: center;
}
.addTrip ul li span:hover{
    background: #c0d8c1;
}
/*add Driver*/

.close-button{
    position:absolute;
    right:0 ;
    top: 5px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: #9ec5a0;
    line-height: 40px;
    text-align: center;
}

.close-button:hover {
    background:  #bad4bc;; /* Change color on hover */
}

/* Modal overlay */

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Một lớp mờ */
    z-index: 1; /* Đảm bảo hiển thị phía trên modal */
}

.overlay.active {
    display: block;
}

/* Hiển thị modal khi nó được kích hoạt */
.modal.active {
    display: block;
}
#modalForm{
    display: auto;
    
    
}
/* Modal content */
.modal-content {
    position: fixed;
    width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 2; /* Đảm bảo hiển thị phía trên overlay */
}
#myForm{
    align-items: start;
}
/* Close button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/**
 * @license
 * Copyright 2019 Google LLC. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */
/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 100%;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }
  
  #infowindow-content .title {
    font-weight: bold;
  }
  
  #infowindow-content {
    display: none;
  }
  
  #map #infowindow-content {
    display: inline;
  }
  
  .pac-card {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    font-family: Roboto;
    padding: 0;
  }
  
  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }
  
  #pac-container2 {
    padding-bottom: 12px;
    margin-right: 12px;
  }
  
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }
  
  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  
  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 150px;
  }
  
  #pac-input2 {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 150px;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }
  
  #pac-input2:focus {
    border-color: #4d90fe;
  }
  
  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  
  #title2 {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  